
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

.header {
    display: block;
    background-color: #001E6C;
    padding-bottom: 15px;
    padding-top: 15px;
    display: flex;
    align-items: center;
}
.header-text {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin: 0;
    text-align: left;
    margin-left: -28px;
    font-size: 20px;
}

.circle {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #FFAA4C;
    margin-left: 15%;
}