.loading-screen {
    background-color: #F5F5F5;
    height: calc(100vh - 310px);
    display: flex;
    justify-content: center;

}

.loading {
    background-color: #5089C6;
    color: white;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}