.page {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #F5F5F5;
}

.tile {
    width: 400px;
    min-height: 550px;
    background-color: white;
    border-radius: 20px;   
    margin: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
    position: relative;
}

.flex {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tile_title {
    display: inline;
    width: 360px;
    font-size: 16px;
    margin:0 10px 0 0;
}

.tile_photos_wrapper {
    width: 350px;
    height: 350px;
    overflow: hidden;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.text {
    margin-left:25px;
    margin-right:25px;
}

.date {
    color: #969595;
    font-size:13px;
    margin:5px 0 10px 0;
    position: absolute;
    bottom: 0;
}

.tile_header {
    display: flex;
    align-items: center;
    margin:5px 0 5px 0;

}